# Local Config
/include/config/global.inc.php

# Templates
/templates/compile/*.php
/templates/compile/**
/templates/cache/*.php
/templates/cache/**

# Logs
/cronjobs/logs/*.txt
/cronjobs/logs/*.txt.*.gz

# Test configs
public/include/config/global.inc.scrypt.php
public/include/config/global.inc.sha.php

# IDE Settings
/.idea/*
.buildpath
.project
.settings
