# Local Config
/www/public/include/config/global.inc.php

# Templates
/www/public/templates/compile/*.php
/www/public/templates/compile/**
/www/public/templates/cache/*.php
/www/public/templates/cache/**

# Logs
/www/cronjobs/logs/*.txt
/www/cronjobs/logs/*.txt.*.gz

# Test configs
/www/public/include/config/global.inc.scrypt.php
/www/public/include/config/global.inc.sha.php

# IDE Settings
/.idea/*
.buildpath
.project
.settings
.vagrant